*.md linguist-language=python
*.html linguist-language=python
*.mp3 linguist-language=python
*.png linguist-language=python
*.pyz linguist-language=python
*.toc linguist-language=python
*.zip linguist-language=python
*.txt linguist-language=python